<h1>FAMILIA</h1>

<ul>
    {{#each familia}}
        <li>
             {{this.nombre}} 
        </li>
    {{/each}}
</ul>


<script src ="socket.io/socket.io.js"></script>
<script src ="js/familia.js"></script>