<h1>Detail Cart</h1>

<h2>Producto: {{cart.title}}</h2>
<ul>
    {{#each cart.products}}
    <li>
        Producto ID: {{this.product}}
        <br>
        Cantidad: {{this.quantity}}
        <br>
        Subtotal: {{{{!-- multiply  --}}this.product.price  this.quantity}}
    </li>
    {{/each}}
</ul>
<h1>ID: {{cart._id}}</h1>


<button id="btn-FinallyBuy"></button>

<script src="/js/cartDetail.js"></script>