<h1>Detail Cart</h1>

<h2>Producto: {{cart.title}}</h2>
<ul>
    {{#each cart.products}}
    <li>
        Producto ID: {{this.product}}
        <br>
        Cantidad: {{this.quantity}}
    </li>
    {{/each}}
</ul>
<h1>Precio: {{cart._id}}</h1>
