<h1>Change rol</h1>

<h2>Su rol es: {{{role}}}</h2>

<div id="response"></div>
<form id="formChangeRole">
    <label for="role" >Seleccione su rol:</label>
        <select  id="role" name="role" required>
            <option value="" disabled selected hidden> - </option>
            <option value="user">Usuario</option>
            <option value="premiun">Premiun</option>
    </select>
    <button type="submit">CAMBIAR ROL</button>
</form>
<script src="/js/changeRole.js"></script>