<h1>CARTS PAGE</h1>

<div id="responseFetch"></div>
<div class="forms-container" style="display: flex; flex-direction: row; justify-content:space-around">
    <div>
        <h2>Crear un carrito:</h2>
        <form id="postCartForm">
            <label for="title">Ingrese un titulo</label>
            <input type="text" id="titleCart" required>
            <button type="submit">Crear</button>
        </form>
    </div>
    <div>
        <h2>Modificar carrito</h2>
        <form id="putCartForm">
            <div>
                <label for="id">Ingrese el Id del carrito a modificar:</label>
                <input type="text" id="putIdCart" required>
            </div>
            <div>
                <label for="newTitle">Ingrese el Nuevo titulo de carrito:</label>
                <input type="text" id="newTitleCart" name="title" required>
            </div>
            <button type="submit">Modificar</button>
        </form>
    </div>

        <div>
        <h2>Eliminar un carrito:</h2>
        <form id="deleteCartForm">
            <label for="id">Eliminar carrito:</label>
            <input type="text" id="deleteIdCart" required>
            <button type="submit">Eliminar</button>
        </form>
    </div>
</div>



{{#if empty}}
<h1>No hay carritos Disponibles en este momento...!!! Intente mas tarde</h1>

{{else}}

<div id="containerCarts">
{{#each carts}}
<ul>
    <li >
    Nombre: <span style="font-weight: bold;">{{this.title}}</span><br>  
        Productos:   
        {{#each this.products}}
            - {{this.product}}
        {{/each}} <br>
    ID de Carrito: <span>{{this._id}} </span>
    </li>
</ul>
{{/each}}
</div>
{{/if}}


 <script src ="socket.io/socket.io.js"></script>
 <script src="js/carts.js"></script>
