<h1>CARTS PAGE</h1>

<div class="forms-container">
    <h2>Crear un carrito:</h2>
    <div id="responseFetch"></div>
    <form id="postCartForm">
        <label for="title">Ingrese un titulo</label>
        <input type="text" id="titleCart">
        <button type="submit">Crear</button>
    </form>
</div>



{{#if empty}}
<h1>No hay carritos Disponibles en este momento...!!! Intente mas tarde</h1>

{{else}}

<div id="containerCarts">
{{#each carts}}
<ul>
    <li >
    Nombre: <span style="font-weight: bold;">{{this.title}}</span><br>
    Productos: <span>{{this.products}} </span><br>
    ID: <span>{{this._id}} </span>
    </li>
</ul>
{{/each}}
</div>
{{/if}}


 <script src ="socket.io/socket.io.js"></script>
 <script src="js/carts.js"></script>
