<h1>Products Page</h1>
{{#if products}}

{{#each products}}
<ul>
    <li >
    Nombre: <span style="font-weight: bold;">{{this.title}}</span><br>
    Descripcion: <span>{{this.description}} </span>
    </li>
</ul>
{{/each}}

{{/if}}