<h1>Products Page</h1>
<hr>
<h2>Agregar un Producto</h2>

<div id="responseFetch"></div>

<form id="postProductForm">
    <div><label for="title">TITULO:</label>
    <input type="text" name="title" id="title">
    </div>
    <div><label for="description">DESCRIPCION:</label>
    <input type="text" name="description" id="description">
    </div>
    <div><label for="code">CODIGO:</label>
    <input type="text" name="code" id="code">
    </div>
    <div><label for="price">PRECIO:</label>
    <input type="number" name="price" id="price">
    </div>
    <div><label for="stock">STOCK:</label>
    <input type="number" name="stock" id="stock">
    </div>
    <div><label for="category">CATEGORIA:</label>
    <input type="text" name="category" id="category">
    </div>
    <div><label for="thumbnail">URL IMG: (opcional)</label>
    <input type="text" name="thumbnail" id="thumbnail">
    </div>

    <button type="submit">AGREGAR PRODUCTO</button>
</form>
    

<hr>



{{#if empty}}
<h1>No hay productos Disponibles en este momento...!!! Intente mas tarde</h1>

{{else}}

<div id="containerProducts">
{{#each products}}
<ul>
    <li >
    Nombre: <span style="font-weight: bold;">{{this.title}}</span><br>
    Descripcion: <span>{{this.description}} </span><br>
    ID: <span>{{this._id}} </span>
    </li>
</ul>
{{/each}}
</div>
{{/if}}

 <script src ="socket.io/socket.io.js"></script>
 <script src="js/products.js"></script>