<h1>Chat Page</h1>
<div id="chatPage-Container">
<div id="identidad"></div>
<div class="chat-Container">
    <div id="messages-Container" class="messages-Container">
        <h3 style="background-color: lightgray;">Nueva Sesion</h3>
    </div>
</div>


<form id="chat-Form">
    <div>
        <input type="text" id="message" placeholder="Escribe tu mensaje">
    </div>
    <button type="submit">Enviar</button>
</form>
</div>

 <script src ="socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
 <script src="/js/chat.js"></script>